<div class="game-title-container">
  <div class="game-title">
    <h2>Tabuada</h2>
  </div>
</div>

<div class="game-container">
  <div class="game">
    <div class="game-control">
      <div *ngIf="currentQuestion">
        <div class="question-counter">
          <p>Pergunta {{ currentQuestionIndex + 1 }}/{{ totalQuestions }}</p>
        </div>
        <div class="text-container">
          <p>{{ currentQuestion.text }}</p>
        </div>
        <button (click)="checkAnswer(answers[0])">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front text"> {{ answers[0] }} </span>
        </button>
        <button (click)="checkAnswer(answers[1])">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front text"> {{ answers[1] }} </span>
        </button>
      </div>
      <div *ngIf="feedbackMessage && currentQuestion" [ngStyle]="{'color': feedbackColor}" class="feedback-message">
        <p>{{ feedbackMessage }}</p>
      </div>
      <div *ngIf="!currentQuestion && currentQuestionIndex >= totalQuestions">
        <p>
          Fim do jogo! Você acertou {{ correctAnswers }} de {{ totalQuestions }} perguntas.
        </p>
        <div class="buttonStart-container">
          <button class="button" type="button" (click)="startGame()">
            <span class="button__text">Jogar</span>
            <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="48" viewBox="0 0 48 48" height="48" class="svg"><path d="M35.3 12.7c-2.89-2.9-6.88-4.7-11.3-4.7-8.84 0-15.98 7.16-15.98 16s7.14 16 15.98 16c7.45 0 13.69-5.1 15.46-12h-4.16c-1.65 4.66-6.07 8-11.3 8-6.63 0-12-5.37-12-12s5.37-12 12-12c3.31 0 6.28 1.38 8.45 3.55l-6.45 6.45h14v-14l-4.7 4.7z"></path><path fill="none" d="M0 0h48v48h-48z"></path></svg></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="token">
  <p>Token: {{ token }}</p>
  <button (click)="copyToken()">Copiar Token</button>
</div>
<div *ngIf="lastResponse">
  <p>Última resposta: {{ lastResponse }}</p>
</div>
