<div class="game-container">
  <h2>Complete a Tabuada</h2>
  <form [formGroup]="form">
    <div class="table-wrapper">
      <table>
        <tr>
          <th></th>
          <th *ngFor="let j of [1,2,3,4,5]">{{ j }}</th>
        </tr>
        <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
          <th>{{ i }}</th>
          <td *ngFor="let j of [1,2,3,4,5]">
            <input matInput [ngClass]="{'error': results[i + 'x' + j] === false}" formControlName="{{i}}x{{j}}" type="number">
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <th></th>
          <th *ngFor="let j of [6,7,8,9,10]">{{ j }}</th>
        </tr>
        <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
          <th>{{ i }}</th>
          <td *ngFor="let j of [6,7,8,9,10]">
            <input matInput [ngClass]="{'error': results[i + 'x' + j] === false}" formControlName="{{i}}x{{j}}" type="number">
          </td>
        </tr>
      </table>
    </div>

    <div class="button-container">
      <button mat-raised-button color="primary" type="button" (click)="validate()">Validar</button>
      <button mat-raised-button color="accent" type="button" (click)="reset()">Resetar</button>
    </div>
  </form>
</div>
