

<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">calculate</mat-icon>
        Jogo da Tabuada
      </ng-template>
      <app-multiplication-game></app-multiplication-game>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">view_list</mat-icon>
        Tabuada
      </ng-template>
      <app-multiplication-table-game></app-multiplication-table-game>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">casino</mat-icon>
        Multiplicação
      </ng-template>
      <app-dice-multiplication-game></app-dice-multiplication-game>
    </mat-tab>
    
  </mat-tab-group>
